<div class="container">
  <header class="header">
    <img class="header__img" src="/assets/quipux-icon.png" alt="">
    <h1 class="header__h1">Quipux test</h1>
  </header>
  <main class="form">
    <nz-tabset >
      <nz-tab nzTitle="Sing In">
        <app-sing-in></app-sing-in>
      </nz-tab>
      <nz-tab nzTitle="Sing Up">
        <app-sing-up></app-sing-up>
      </nz-tab>
    </nz-tabset>
  </main>
  <footer class="footer">
    <span nz-typography nzType="secondary">Presented By</span>
    <span class="footer__icon" nz-icon nzType="github" nzTheme="outline"></span>
    <span nz-typography nzType="secondary">LuisVega91</span>
  </footer>
</div>