<form nz-form [formGroup]="singInForm" class="form" (ngSubmit)="singIn()">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="email" placeholder="Username" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button class="form__button" [nzType]="'primary'">Sing In</button>
</form>